# Generated
*.m2c
ctx.c
ctx_includes.h
*.s.c

# Generated configs
objdiff.json
compile_commands.json

# Build files
build/
.ninja_*
build.ninja

# IDE folders
.idea/
.vs/

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.o
*.map
*.MAP

# Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Compiler binaries
/tools/mwcc_compiler

# Build artifacts
build/
*.o
*.elf
*.map
*.dol
*.pdb
/result

# Temporary files
*.swp
*.dump

# IDE
build.bat
clean.bat

# Other
*.log
.aider*

# Epilogue hack folder
epilogue/

__pycache__
**/*.rs.bk
*.exe
*.dll
*.bat

# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
